<head>
    <script type="text/javascript">
    
    $(document).ready(function() {
      var data = new Array();
      var index = 0;
      <% @courses.each do |course| %>
        var el = {id: index, text: '<%= course.course_code %>' + ': ' + '<%= course.course_name %>'};
        data.push(el);
        index++;
      <% end %>
      $.each(data,function(index,value){
        $('.js-example-data-array').append('<option value="' + (data[index].id+1) + '">'+data[index].text+'</option>');
      });
      
      $(".js-example-data-array").select2({
        placeholder: "Search course",
      });
      $('.js-example-data-array').change(function(){
        $('#course_added').append('<p>' + $(this).find('option:selected').html() + '</p>');
      });
    });
  </script>
</head>

<h1>Add requirement</h1>


<select class="js-example-data-array" multiple="multiple" id = "course_list" name = "course_list" style="width:30%">
  <option></option>
</select>

<select class="js-example-numbers" id = "num_courses" name = "num_courses" style="width:30%">
  <option value = "1">1</option>
  <option value = "2">2</option>
  <option value = "3">3</option>
  <option value = "4">4</option>
  <option value = "5">5</option>
  <option value = "6">6</option>
  <option value = "7">7</option>
  <option value = "8">8</option>
  <option value = "9">9</option>
</select>
<br>

<%= button_to "Add Requirement", action: "addReq" %>

<div id="req_added"><br></div>
