<div id="cblist">
</div>

<input type="text" id="txtName" />
<input type="button" value="Add Requirement" id="btnSave" />
<input type="button" value="Save Requrements" id="btnSaveDegree" />

<script type="text/javascript">
$.reqVars = new Object();
$.reqVars.reqs = [<%#= @degree.degree_requirements %>];

$(document).ready(function() {
    $('#btnSave').click(function() {
        addCheckbox($('#txtName').val());
	$('#txtName').val("");
    });
});

$(document).ready(function() {
    $('#btnSaveDegree').click(function() {
        saveRequirements($('#txtName').val());
    });
});

function addCheckbox(name) {
   var container = $('#cblist');
   var inputs = container.find('input');
   var id = inputs.length+1;
   $.reqVars.reqs[$.reqVars.reqs.length] = name;

   $('<input />', { type: 'checkbox', id: 'cb'+id, value: name }).appendTo(container);
   $('<label />', { 'for': 'cb'+id, text: name }).appendTo(container);
   $('<br>').appendTo(container);
}

function saveRequirements(name) {
   var reqString = $.reqVars.reqs.join(";");
   $.ajax({url: "/degrees/"+<%= @degree.id.to_s %>+ "/addReq", data: {"req": reqString}});
}

</script>
