<div class="container">
<h1><%= @degree.degree_name %> </h1>

<%= render 'add_req' %>
<br>
<br>
<%= render 'form' %>
<br>
<br>

<%= link_to 'Return to Main Page', root_path, {:style => 'color:#0000EE; text-decoration:underline;', :class => 'css_class'} %>
<br>
</div>
